@import	url('https://fonts.googleapis.com/css2?family=Julee&display=swap');

body {
	padding: 100px;
	background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
	text-align: center;
	font-family: 'Julee', sans-serif;
}
ul {
	margin-left: -45px;
}
li {
	list-style: none;
	display: inline-block;
}
.main {
	width: 1000px;
	height: 520px;
	background-color: #fafafa;
	margin: 0 auto;
	padding-top: 20px;
	border-radius: 10px;
	border: 1px solid #eee;
}
.img {
	background-image: url(4x6.jpg);
	background-color: #eaeaea;
	background-size: cover;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	border: 1px solid #eaeaea;
}
h1 {
	text-align: center;
	font-size: 50px;
	margin: 0;
	font-weight: bold;
	color: #D16BA5;
}
.text {
	text-align: center;
	font-size: 25px;
	margin: 0;
	color: #324e63;
}
p {
	margin: 0 auto;
	padding-top: 20px;
	width: 450px;
	height: auto;
	/*font-size: 17px;*/
	color: #324e63;
}